body {background-color: #F4FCFF; }
h1,h2,h3 {color: #2266BB/*#000055*/; }
table.bordered {border-width: 1px; border-style: solid; border-color: #2266BB; margin: 5px 1px; }
table.bordered th {background-color: #CCDFFF; }
table.bordered td {background-color: #DFEEFF; }
abbr,acronym {border-bottom-color: #0000FF; }
hr {border-color: #2266BB; }
.sidebar {border-width: 1px; border-style: solid; border-color: #2266BB; background-color: #DFEEFF; }
