h1,h2,h3,h4 {font-family: sans-serif; margin-top: 4px; margin-bottom: 2px; }
p,ul,ol {margin-top: 2px; margin-bottom: 8px; }
hr {width: 50%; }
img {border-width: 0; }
ul.plain {padding: 0px; }
ul.plain > li {list-style-type: none; }
a {text-decoration: none; }
a:hover {text-decoration: underline; }
abbr,acronym {font-style: normal; border-bottom: dashed 1px; }
p.bottom {margin-top: 10px; margin-bottom: 0px; }
body {color: #000000; }
th[scope=row] {text-align: left; }
.sidebar {float: right; padding: 0px 4px; width: 200px; }
ins {color: #007711; }
del {color: #880000; }
.compulsory {color: #AA0000; }
.problem {color: #CC4400; }
.error {color: #FF0000; }
.success {color: #228800; }
#avatar {float: right; }

.type {display: none; } /* For hCard */
